# Configuration template

# MongoDB server address and port
mongodb_server = localhost:27017

# MongoDB database and collection
mongodb_database = cdcagg
mongodb_collection = studies

# MongoDB credentials (leave empty if not required)
mongodb_username =
mongodb_password =

# API base URL, including https:// but without trailing /
api_base_url = https://skg-if.cessda.eu
# Path between base URL and endpoints, without trailing /
api_prefix = api
# Product base URL, including https:// but without trailing /
product_base_url = https://datacatalogue.cessda.eu/detail

# JSON-LD context
skg_if_context = https://w3id.org/skg-if/context/1.1.0/skg-if.json
skg_if_api_context = https://w3id.org/skg-if/context/1.0.0/skg-if-api.json
skg_if_cessda_context = https://w3id.org/skg-if/sandbox/cessda/

# Vocabulary URIs
cessda_topic_vocab_api_url = https://vocabularies.cessda.eu/v2/codes/TopicClassification
cessda_topic_vocab_api_version = 4.2.3

# Cache filename
cessda_topic_vocab_cache_filename = cessda_topic_classification_vocab_cache.json

# Access rights mapping
data_access_mapping_file_url = https://raw.githubusercontent.com/cessda/cessda.cdc.osmh-indexer.cmm/main/src/main/resources/data_access_mappings.json

# ELSST info for Topics - Update according to the current published version
elsst_datasource_id = "urn:cessda:elsst-v6"
elsst_scheme_name = "CESSDA ELSST v6"
elsst_scheme_url = "https://thesauri.cessda.eu/elsst-6"

## ELSST download URL - in case data/elsst_current.jsonld file does not exist
elsst_download_url = "https://thesauri.cessda.eu/rest/v1/elsst-6/data?format=application%2Fld%2Bjson"
